[Unit]
Description=Hailo-10H Server
After=network-online.target
Wants=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/screen -DmS hailo-server /usr/local/bin/hailo-server
ExecStop=/usr/local/bin/hailo-server stop
User=root
Restart=on-failure
RestartSec=20

[Install]
WantedBy=multi-user.target
